*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow: hidden;
}

#parent{
    height: 100vh;
    background: cyan;
    position: relative;
}
.child{
    width: 100px;
    height: 100px;
    z-index: 2 ;
    position: absolute;
}
#c1,#c2,#c3,#c4,#c5,#c6{
    height: 50px;
    width: 50px;
}
#c7,#c8,#c9,#c10,#c11,#c12{
    height: 75px;
    width: 75px;
}

#main{
    height: 70vh;
    z-index: 3;
    position: fixed;
    top: 15vh;
    left: 23vw;
}
h1{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(rgba(216, 129, 15, 0.932), rgba(10, 224, 46, 0.849));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}